<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 	
 <mapper namespace="com.citrus.hotel.mapper">
	
	<!-- hotelInfo 페이지 접속시 띄워줄 hotelInfo 테이블 값 가져오기 -->
	<select id="hotelInfoList" resultType="hotel_infoDTO">
		select * from hotel_info
	</select>

	<insert id="hotelInfoInsert">
		insert into hotel_info(hi_no, hi_name, hi_addr, hi_tel, hi_email, hi_fax) values(1,'Citrus Hotel', #{hi_addr}, #{hi_tel}, #{hi_email}, #{hi_fax})
	</insert>

	<!-- 저장버튼을 눌렀을때 해당값을 수정 -->
	<!-- 근데 만약 초기값이 없을때는 insert로 바꿔서 갈지 초기값은 입력하고 가는걸로 갈지 고민좀 해봐야 할듯  -->
	<update id="hotelInfoEdit" parameterType="hotel_infoDTO">
		update hotel_info set HI_ADDR=#{hi_addr}, HI_TEL=#{hi_tel}, HI_EMAIL=#{hi_email}, HI_FAX=#{hi_fax} where HI_NO = 1
	</update>
	
	<select id="room_list" resultType="roomDTO">
		select * from room
	</select>
	
	<select id="room_data" parameterType="java.util.Map" resultType="roomDTO">
		select * from room where room_no = ${room_no}
	</select>
	
	<select id="common_data" resultType="commonDTO">
		select * from common where group_cd = 02
	</select>
	
	<select id="facilities_data" parameterType="java.util.Map" resultType="room_facilitiesDTO">
		select * from room_facilities where room_no = ${room_no}
	</select>
	
	<insert id="room_add" parameterType="java.util.Map">
		insert into room(room_no, room_type, room_name, room_fit, room_max, room_bed, room_price, room_size, room_use)
		values(#{room_no}, #{room_type}, #{room_name}, ${room_fit}, ${room_max}, #{room_bed}, #{room_price}, #{room_size}, #{room_use})
	</insert>

	<update id="rf_checked_add" parameterType="java.util.Map">
		update ROOM_FACILITIES
		set ROOMF_USE = '1'
		where ROOM_NO = #{room_no} and ROOMF_CD = #{checked_code}
	</update>

	<insert id="rf_default_setting" parameterType="java.util.Map">
		INSERT INTO ROOM_FACILITIES(roomf_cd, room_no, roomf_use)
		values( #{roomf_cd}, #{room_no}, '0')
	</insert>
	
	<update id="room_edit" parameterType="java.util.Map">
  		update room
  		set room_type = #{e_roomType}, room_fit = ${e_roomFit}, room_max = ${e_roomMax},
  		room_bed = #{e_roomBed}, room_price = #{e_roomPrice}, room_size = #{e_roomSize}
  		<if test="e_roomUse == 'on'">
  		, room_use = 1
		</if>
		<if test="e_roomUse == null or e_roomUse != 'on'">
  		, room_use = 0
		</if>
  		where room_no = ${e_roomNo}
	</update>

 	<update id="checkbox_default" parameterType="java.util.Map">
 		update room_facilities set roomf_use = 0
		where room_no = ${e_roomNo}
 	</update>
 	
 	<update id="checkbox_update">
 		update room_facilities
  		set	roomf_use = 1
  		where room_no = ${e_roomNo} and roomf_cd in
  		<foreach collection="CheckedList" item="item" open="(" separator="," close=")">
    	${item}
  		</foreach>
 	</update>
 	
 	
 	<select id="adminlogin" parameterType="com.citrus.hotel.dto.MemberDTO" resultType="com.citrus.hotel.dto.MemberDTO">
		SELECT * FROM MEMBER WHERE member_email = #{member_email} AND member_grade = #{member_grade}
	</select>
	
	<update id="adminpwchange" parameterType="com.citrus.hotel.dto.MemberDTO">
		UPDATE  MEMBER SET MEMBER_PW = #{member_pw} WHERE MEMBER_EMAIL = #{member_email} AND MEMBER_GRADE = #{member_grade}
	</update>
 	
 	<select id="group_list" resultType="com.citrus.hotel.dto.GroupDTO">
 		SELECT * FROM "GROUP"
 	</select>
 	<insert id="insertcode" parameterType="com.citrus.hotel.dto.CommonDTO">
 		INSERT INTO common values(#{cmmn_cd}, #{group_cd}, #{cmmn_nm},#{cmmn_use})
 	</insert>
 	<select id="cgroup_list" resultType="com.citrus.hotel.dto.CGroupDTO">
 		SELECT common.*,"GROUP".GROUP_NM FROM COMMON JOIN "GROUP" ON common.GROUP_CD = "GROUP".GROUP_CD
 	</select>

 	<select id="sercgroup_list" parameterType="com.citrus.hotel.dto.CGroupDTO" resultType="com.citrus.hotel.dto.CGroupDTO">
 		SELECT common.*,"GROUP".GROUP_NM FROM COMMON JOIN "GROUP" ON common.GROUP_CD = "GROUP".GROUP_CD WHERE GROUP_NM = #{group_nm}
 	</select>
	
 	<update id="coedit" parameterType="com.citrus.hotel.dto.CommonDTO">
		UPDATE  COMMON SET CMMN_NM = #{cmmn_nm}, CMMN_USE = #{cmmn_use} WHERE CMMN_CD = #{cmmn_cd}
	</update>
 	
 </mapper>