<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 	
 <mapper namespace="com.citrus.hotel.mapper">
	
	<!-- hotelInfo 페이지 접속시 띄워줄 hotelInfo 테이블 값 가져오기 -->
	<select id="hotelInfoList" resultType="hotel_infoDTO">
		select * from hotel_info
	</select>
	
	<!-- 저장버튼을 눌렀을때 해당값을 수정 -->
	<!-- 근데 만약 초기값이 없을때는 insert로 바꿔서 갈지 초기값은 입력하고 가는걸로 갈지 고민좀 해봐야 할듯  -->
	<update id="hotelInfoEdit">
		update HI_ADDR, HI_TEL, HI_EMAIL, HI_FAX from hotel_info where HI_NO = 1
	</update>
	
	
	<select id="room_list" resultType="roomDTO">
		select * from room
	</select>
	
	<select id="room_data" parameterType="java.util.Map" resultType="roomDTO">
		select * from room where room_no = ${room_no}
	</select>
	
	<select id="common_data" resultType="commonDTO">
		select * from common where group_cd = 02
	</select>
	
	<select id="facilities_data" parameterType="java.util.Map" resultType="room_facilitiesDTO">
		select * from room_facilities where room_no = ${room_no}
	</select>
	
	<update id="room_edit">
		
	</update>
 	
 		<select id="adminlogin" parameterType="com.citrus.hotel.dto.MemberDTO" resultType="com.citrus.hotel.dto.MemberDTO">
		SELECT * FROM MEMBER WHERE member_email = #{member_email} AND member_grade = #{member_grade}
	</select>
 	
 </mapper>