<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.citrus.hotel.mapper.memberMapper">
		<!-- 이메일 중복 체크 -->
	<select id="emailcheck" parameterType="com.citrus.hotel.dto.MemberDTO" resultType="com.citrus.hotel.dto.MemberDTO">
		SELECT * FROM MEMBER WHERE member_email = #{member_email}
	</select>
	<insert id="insertMember" parameterType="com.citrus.hotel.dto.MemberDTO">
		INSERT INTO MEMBER VALUES(SEQ_MEMBER_NO.NEXTVAL,#{member_email},#{member_pw},#{member_name},
		#{member_tel},#{member_addr},#{member_addr2},0,sysdate)
	</insert>
	<select id="getMember" parameterType="com.citrus.hotel.dto.MemberDTO" resultType="com.citrus.hotel.dto.MemberDTO">
		SELECT * FROM MEMBER WHERE member_email = #{member_email}
	</select>
	
	
</mapper>